h1{
   text-align: center;
}

.editImg {
    width: 300px;
    height: 230px;
    border-radius: 5%;   
}
.btnNav{
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
    margin-top: 1rem;
}

.editarBoton{
    border-radius:5px;
    height: 30px;
}
.editElementCarrito{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 
.buttonCarrito{
    border-radius:5px;
    height: 30px;
    width: 70px;
}
.border{
    border-top: 1px solid black;
}


